
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <div class="row">
            <div class="col-md-2">
              <div class="well">
                <h5>State Selection:</h5>
                <select id="States" onchange="StateChanged(this.value)">
                  <option value="CA">CA</option>
                  <option value="TX">TX</option>
                  <option value="FL">FL</option>
                </select>
            </div>
        </div>
        
                <div class="col-md-2">
                    <div class="well">
                    <h5>Date Selection:</h5>
                    <select id="Dates" onchange="DateChanged(this.value)">
                     <option value="234">23</option>
                     <option value="32">323</option>
                    <option value="1">23232323</option>
                    </select>
                </div>
            </div>
    </body>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src = "../static/logic.js"></script>
    </html>


